/* every element has its own default margin, padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #F4CF4F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 600px;
    width: 450px;
    background: white;
    border-radius: 23px;
    border: 2px solid black;
    box-shadow: 20px 20px 0px black;
    padding: 25px;
}

.main_section{
    height: 250px ;
    background: #F4CF4F;
    border-radius: 23px;
    padding: 20px;
}

.main_section img{
    height: 70%;
}

.btn{
    border: none;
    padding: 12px  20px;
    border-radius: 8px;
    background: #F4CF4F;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
}
p{
    padding: 15px;
    padding-left: 5px;
}

.profile{
    height: 80px;
    border-radius: 50%;
}
.below-section{
    display: flex;
    justify-content: start;
    padding-top: 5px;
    padding-left: 180px;
}
.rohit-sharma-heading{
    padding-top: 30px;
    padding-left: 10px;

}