.bg-colour{
    background-color: aquamarine;
    padding: 10px;
    width: 60%;
}
.name-padding{
    padding:5px;
    margin:9px;
}
.firstname-padding{
    padding:5px;
    margin:10px;
    margin-left: 32px;
}
.email-padding{
    padding:5px;
    margin:10px;
    margin-left: 59px;
}
.E-mail-heading{
    padding-bottom: 10vh;
    height: 10vh;
}
.message-box-padding{
    margin-left:15vh;
    height: 10vh;
}
.submit-btn{
    padding: 10px;
    width: 135px;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
}
